body {
    font-family: Helvetica, Sans-Serif;
    font-size: 40px;
    width: 100%;
}

h1 {
	display: inline;
	position: relative;
	font: 150px Helvetica, Sans-Serif;

    color: rgba(13, 61, 20, 0.5); 
}



.avocado {
    padding-bottom: 5%;
    padding-top: 30px;
    text-align: center;
    background-color:#4e73df;
    
}

h2 {
	display: inline;
	position: relative;
	font: 60px Helvetica, Sans-Serif;
	color:  rgba(5, 63, 5, 0.5);   
}

h4 {
	display: inline;
	position: relative;
	font: 20px Helvetica, Sans-Serif;
    color: rgba(10, 71, 23); 
}

/* #page-content {
    flex: 1 0 auto;
} */

.shadow {
    -webkit-border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px;
    -webkit-box-shadow: rgba(0, 0, 0,.30) 0 2px 3px;
}
    
    
.flex-container {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 20px;
    padding: 10 0 10 0;

  }
  .filter {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

.experiment-table {
    margin: auto;
    margin-right: 50px;
    /* padding-top: 10%; */
}

.plotly {
    color: rgba(0,0,255,0.5); 
}

.js-plotly-plot {
    margin: 20px;
}

.select-css {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.select-css option {
    font-weight:normal;
}

.card {
    margin: 3%;
    margin-right: 5%;
}